<div class="container">
  <table class="table">
    <thead>
      <tr>
       <th>Id</th>
       <th>FirstName</th>
       <th>LastName</th>
       <th>Title</th>
       <th>Picture</th>
       <th>ReportCount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td scope="row">{{employee.id}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.title}}</td>
        <td><img [src]="employee.picture"></td>
        <td>{{employee.reportCount}}</td>
      </tr>
    </tbody>
  </table>
</div>